{% extends 'ath_web/athbase.html' %}
{% load bootstrap3 %}

{% block title %}django-bootstrap3{% endblock %}

{% block bootstrap3_extra_head %}

{% endblock %}

{% block content %}


<table class="table table-bordered" id="pose-table">
    <thead>
    <tr>
        <th>Poser</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    {% for pose in poses %}
    <tr>
        <td>{{pose.owner.character}}</td>
        <td>{{pose.text}}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}